/*
Taupe - #4a4238
Tangerine - #f18f01
Wintergreen Dream - #508484
Blue (Munsell) - #048ba8
Kiwi - #97db4f
*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #048ba850;
}

#home,
.row,
.heading {
    font-family: 'Georgia';
}

/**************HOME PAGE****************/

#home {
    color: #4a4238;
}

.company-name,
.fish-picture {
    display: inline-block;
}

.company-name {
    text-align: center;
    font-size: 3em;
    min-width: calc(100vw - 240px);
}

.fish-picture {
    width: 100px;
    margin-top: 20px;
}

.fish-picture:first-of-type {
    margin-left: 20px;
}

.fish-picture:last-of-type {
    margin-right: 20px;
}

.about {
    float: right;
    width: 40vw;
    margin: 100px 30vw 0 0;
    font-size: 1.4em;
    line-height: 30px;
    text-align: justify;
}

.store-hours,
.store-locations {
    float: left;
    width: 10vw;
    margin-left: 10vw;
    font-size: 1.2em;
}

.store-hours {
    margin-top: 100px;
}

.store-locations {
    margin-top: 30px;
    clear: left;
}

.store-addresses {
    margin-bottom: 10px;
}

/**************SALES PAGE****************/

.store-table {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
}

.heading {
    background-color: #4a4238;
    color: #eee;
    height: 20px;
    line-height: 20px;
}

.row,
.totals-row {
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.row {    
    color: #4a4238;
}

.row:nth-child(even) {
    background-color: #048ba8;
}

.row:nth-child(odd) {
    background-color: #048aa867;
}

.store-data-cookies:last-of-type {
    background-color: #4a423895;
    color: #eee;
    font-weight: 600;
}

.totals-row {
    background-color: #4a4238;
    color: #eee;
    font-family: 'Raleway';
    font-weight: 700;
}